*{
    margin: 80%;
    text-transform: capitalize;
}

body{
color: purple;
background-color: royalblue;
margin-left: 100px;
margin-right: 150px;
margin-top: 50px;
margin-bottom: 50px;

}

.moja{
    border: 10px;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    display: block;
}
h1, h2, h3{
    text-align: center;
}
p{
    text-align: justify;
}