body{
color: purple;
background-color: royalblue;

}

.moja{
    border: 10px;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    display: block;
}
h1, h2, h3{
    text-align: center;
}
p{
    text-align: justify;
}