*{
    
    text-transform: capitalize;
    margin-left: 10%;
    margin-right: 10%;

    
}

body{
border:5px solid red;
color: purple;
background-color: pink;

}

.moja{
    border: 10px;
    border-radius: 5px;
    margin: auto;
    padding: 0;
    display: block;
}
h1, h2, h3{
    text-align: center;
}
p{
    text-align: justify;
}
